@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  
}
input{
  @apply w-[400px] border border-gray-200 py-2 px-6
  bg-zinc-100/40;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
   
  }
}

body {
  color: rgb(var(--foreground-rgb));
  padding :1rem;
}
